body{
	font-family: 'Kodchasan', sans-serif;
	margin:30px;
}
.text-dark{
	color:#dbdde0;
}
.mindmap{
	padding:30px;

}

.map{
	margin-top: 20px;
	border: 1px solid gray;
	border-radius:300px;
	padding:10px;
	text-align: center;
}
.map > p {
	padding:10px;
}
.map:hover {
	transform: scale(1.1);
	transition: 0.6s;
}
.left{

}
.center{

}
.right{

}